<div class="loginFair wrapper wrapper-full-page">
    <div class="page-header login-page header-filter">
        <div class="container">
            <div class="login row">
                <div class="col-md-6 col-lg-4">
                    <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Email:</label>
                                    <input type="text" formControlName="email" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                        <div *ngIf="f.email.errors.required">Email is required</div>
                                        <div *ngIf="f.email.errors.pattern">Enter valid email address</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-add" type="submit">Submit </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>