<div class="loginFair wrapper wrapper-full-page">
    <div class="page-header login-page header-filter">
        <div class="container">
            <div class="login row">
                <div class="col-md-6 col-lg-4" *ngIf="!authUser">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="usernotfound">User Not Found</h2>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4" *ngIf="authUser">
                    <form [formGroup]="updatePasswordForm" (ngSubmit)="onSubmit()">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Set New Password: </label>
                                    <input type="password" formControlName="password" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                        <div *ngIf="f.password.errors.required">Password is required</div>
                                        <div *ngIf="f.password.errors.minlength">Password must be at least 4 characters
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input type="password" formControlName="confirmPassword" class="form-control"
                                        [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                                    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                        <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required
                                        </div>
                                        <div *ngIf="f.confirmPassword.errors.minlength">Password must be at least 4
                                            characters</div>
                                        <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <button class="btn btn-add" type="submit">Submit </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>